pkgbase = zapret-desacratio
pkgdesc = Universal DPI circumvention tool with beautiful TUI control panel. Wraps bol-van/zapret with easy install, strategy management, and domain lists.
pkgver = 1.0.0
pkgrel = 1
url = https://github.com/kall1shnik0vv/zapret-desacratio
install = zapret.install
arch = x86_64
arch = aarch64
license = GPL3
depends = bash
depends = glibc
depends = libcap
depends = iptables
depends = ip6tables
makedepends = git
makedepends = gcc
makedepends = make
makedepends = base-devel
conflicts = zapret
provides = zapret
source = zapret-desacratio-1.0.0.tar.gz::https://github.com/kall1shnik0vv/zapret-desacratio/archive/v1.0.0.tar.gz
sha256sums = SKIP
